<div class="w-100 text-center">
    <h1>Login</h1>
</div>
<div class="col-md-6 container text-center">
    <div class="col-md-12 d-flex p-0 flex-wrap">
        <input type="text" class="name-input col-md-8" name="name" />
        <button class="btn btn-primary col-md-4" onclick="loginUser()">Send</button>
    </div>
</div>